<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include ../partials/head %>

  </head>
  <body>
    
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">

        <%- include ../partials/nav %>

      </nav>
    </header>
    <div class="container">

      <div class="starter-template">
        
        <h1><%= homeTitle %></h1>

      </div>

    </div>

  <%- include ../partials/footer %>
  
</body></html>